@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f5f6f9;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
