@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f5f6f9;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

html {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

body {
  overflow: hidden; /* Hide scrollbar for other browsers */
}

/* Specific styles for carousel */
.carousel {
  touch-action: pan-x; /* Enable horizontal swipe */
  overflow: hidden; /* Prevent unintended scrolling */
  position: relative; /* Ensure correct positioning */
}
